/*     ----- RESET -----      */
* {box-sizing: border-box; margin: 0; padding: 0; user-select: none;}
img {max-width: 100%;height: auto;}
body {background-color: rgb(220, 231, 236); font-family: Verdana, Geneva, Tahoma, sans-serif;}
[v-cloak] {display: none;}

/* -------------------------
        header
-------------------------- */

.logo {
    padding: 15px 30px 15px 30px;
    height: 90px;
    background-color: white;
}

img {
    height: 100%;
}

.text-logo {
    margin-left: 10px;
    font-size: 40px;
    font-weight: 700;
}

img, .text-logo {vertical-align: middle;}

/* -------------------------
            MAIN 
-------------------------- */
.container_add-task {
    margin: 10px auto;
    border-radius: 3px;
    width: 900px; 
    background-color: white;
    padding: 30px;
}

.container {
    margin: 25px auto 10px; 
    width: 900px; 
    background-color: white;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.task-done {
    text-decoration: line-through;
    color: green;
}

.item > p {
    display: block;
    width: 80%;
    background-color: rgb(245, 238, 238);
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 1px 3px 10px rgba(104, 104, 104, 0.2);
}

.btns button:first-of-type {
    margin-right: 10px;
}

.btns button.btn {
    background-color: transparent;
    border: unset;
    padding: 6px 12px;
    color: inherit;
    border-radius: 5px;
}

.btns button.done {
    color: rgb(70, 173, 242);;
    border: 2px solid rgb(70, 173, 242);
    cursor: pointer;
}

.btns button.delete {
    background-color: red;
    color: white;
    border: 2px solid red;
    cursor: pointer;
}

button.done:hover {
    border: 2px solid rgb(70, 173, 242);
    background-color: rgb(70, 173, 242);
    color: white; 
}

button.delete:hover {opacity: 0.5;}

.add-task a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}
.add-delete a {
    color: rgb(205, 89, 89);
    text-decoration: none;
    font-size: 0.8em;
}

.add-task, .add-delete {
    height: 70%;
    margin: 15px 0;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 5px;
}

.add-task {
    border: 2px solid rgb(70, 173, 242);
    background-color: rgb(70, 173, 242);
    color: white;
}

.add-task:hover {opacity: 0.7;}

.add-delete {
    margin-left: 10px;
    background-color: #fff;
    color: rgb(205, 89, 89);
    border: 2px solid rgb(205, 89, 89);
}

.add-delete:hover {
    background-color: red;
    color: white;
    border: 2px solid red;
}

.textarea label {
    display: block;
    font-size: 15px;
    font-weight: 600;

}

.textarea textarea {
    outline: none;
    width: 100%;
    border: none;
    margin: 20px 0;
    background-color: rgb(245, 238, 238);
    border-radius: 5px;
    padding: 10px 20px;
    box-shadow: 1px 3px 10px rgba(104, 104, 104, 0.2);
}

/* -------------------------
        TODO LIST
-------------------------- */
.container .todo-list {
    margin-top: 5px;
    padding: 30px;
}

h3.title {
    margin-top: 30px;
    font-size: 1.3em;
    font-weight: 600;
}

ul {
    margin-bottom: 35px;
    list-style-type: none ;
    
}

li {
    margin-top: 20px;

}

/* fine */